<div id="age-verify">
	<div class="age-question" style="color:white;">
		<h4>Are you 18 or older?</h4>
		<div class="age-button">
			<form action="/verified_age" class="inline"method="get">
				<button type="submit" class=" btn-mahogany">Yes</button>
			</form>
			<form action="/underage" class="inline" method="get">
				<button type="submit" href="#" class=" btn-mahogany">No</button>
			</form>
		</div>
	</div>
</div>