<div id="complete">
	<div class="header">

	</div>
</div>
<div class="complete-page">
	<Span class="enlarge">Thank You</span>
		<h1 class="less-enlarge brandon">
			 Every Preference Submission gets us one step closer to finding the perfect products. Feel free to drop us a line on any social media platform; we love to hear feedback!
		</h1><br>
	<a href="/" class="btn-large btn-success complete-button">Go Back</a>
</div>
